body{
    font-family:'Courier New', Courier, monospace;
    font-size: 10px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.5);
}

aside {
    /* border: 2px black solid; */
    /* padding-top: 40px; */
    /* padding-bottom: 40px; */
    width: 15%;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    overflow-y: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

    display: flex;
    flex-direction: column;
    height: 100vh;
}


.logo {
    /* border: 2px red solid; */
    text-align: center;
    height: 20vh;
    
}

.logo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-items: center;
}

aside nav {
    /* border: 2px blue solid; */
    height: 30vh;
    
}

aside nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

aside nav ul li {
    margin-bottom: 15px;

}

aside nav ul li a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 10px 10px;
    letter-spacing: .2em;
    font-family: "Montserrat", Arial, sans-serif;
}

aside nav ul li a:hover{
    text-decoration: none;
    color: black;
}

aside nav ul li a:hover::after{
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

aside nav ul li a::after{
    content: "";
    position: absolute;
    height: 2px;
    bottom: 7px;
    left: 10px;
    right: 10px;
    background-color: #da1212;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

aside .cart {
    font-size: 50px;
    text-align: center;
    height: 30vh;
    transition: transform 0.3s ease-in-out;
}

aside .cart a {
    /* color: rgb(75, 243, 75); */
    color: #17e6d4;
}

aside .cart:hover {
    transform: scale(1.10);
}

aside footer {
    /* border: 2px greenyellow solid; */
    text-align: center;
    margin: 0;
    padding: 0;
    height: 20vh;
}

aside footer label {
    font-size: 12px;
}

aside footer ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

aside footer ul li {
    display: inline;
    font-size: 20px;
    
}

/* =========================================== */

main {
    /* border: 2px, red, solid; */
    width: 85%;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-color: antiquewhite;
    border-radius: 15px;
    text-align: center;
    height: 100vh;
}

main h1 {
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}

main .container {
    display: flex;
}

.address, form {
    flex: 1;
}

/* =========================================== */

.address {
    /* border: 2px solid green; */
    font-size: 18px;
    text-align: left;
    padding-top: 100px;
}

.address .label{
    text-align: center;
}

.address a {
    padding-left: 100px;
}

/* =========================================== */

form {
    border: #17e6d4;
    background-color: lightblue;
    width: 600px;
    border-radius: 10px;
    padding: 1%;
    margin-right: 30px;
    margin-top: 50px;
}

form div label {
    width: 18%;
    margin: 1% 2% 1% 2%;
    display: inline-block;
    text-align: right;
    font-size: 18px;
}

form div input {
    margin: 1% 2% 1% 2%;
    width: 71%;
    border-radius: 3px;;
    border: #17e6d4;
}

textarea {
    width: 93%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border: #17e6d4;
    border-radius: 3px;
    font-size: 16px;;
}

form button {
    float: right;
    margin-right: 3%;
    background-color: rgb(255, 106, 0);
    color: white;
    font-size: 16px;;
    border: none;
    border-radius: 3px;
    width: 80px;
    
}

form::after {
    clear: both;
    content: '';
    display: table;
}
  